html {
  font-size: 10px;
  background: black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin: 20px auto 0;
  max-height: 100vh;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.key {
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(88, 88, 88, 1);
}

.playing {
  transform: scale(0.9);
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 2rem rgb(88, 88, 88);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #f3d2d2;
}

@media only screen and (min-width: 600px) {
  .keys {
    width: 100%;
    align-content: center;
    min-height: 100vh;
  }
}
